< !-- C:\JavaScriptEtAngular\Angular\PokemonManager\src\app\composant9\composant9.component.html --> 

<p>composant9 works!</p>
<div>Une chaîne de caractères interpolée : 
{{myVariableDisplay}}</div> 
<div>Un chiffre interpolé : {{digit}}</div> 
<div>Un objet interpolé : 
 <ul> 
   <li>Nom : {{anObject.nom}}</li> 
   <li>Prénom : {{anObject.prenom}}</li> 
   <li>Ville : {{anObject.ville}}</li> 
 </ul> 
</div> 
<div class="container text-center"> 
  <p>Le composant C09</p> 
  <button class="btn btn-primary" 
          (click)="unClic()">Un bouton</button> 
</div> 